body{
    margin:0;
    display: block;
}
h1{
    font-size: 44pt;
}
p{
    font-size: 16pt;
    margin: 11px 0;
}
#content{
    text-align: center;
}

#profile_pic{
    border-radius: 50%;
    min-width: 25%;
    width: 300px;
}
.bar{
    height:50px;
    max-height: 15%;
    width:100%
}
#header{
    background-color: #ffa500;
    margin-bottom: 20px;
}
#footer{
    color: whitesmoke;
    bottom:0;
    position: absolute;
    width:100%;
    background: #27a3ff;
}
.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite,
}