.grid {
    background: rgba(55, 55, 55, 1);
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    width: 25%;
    height: 100px;
    background: #cc6198;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 200px; }